<!-- 公共部分 END -->
<div class="mb10">
	<label>昵称:</label>
	<input type="text"  placeholder="请输入昵称" ng-model="UserDetail.nick" class="form-control w150">
</div>
<div class="mb10">
	<label>
		头像:
	</label>
	&nbsp;&nbsp;(点击上传)
	<div class="user_head_up" id="upload_cover_pic">	
		<img width="150" ng-src="{{UserDetail.head | head_img}}" alt="头像">
	</div>
</div>	

<div class="mb10">
	<label>星座:</label>
	<select class="form-control w150 inline-block mr30" ng-model="UserDetail.constelltion">
		<option value="">星座选择</option>
		<option value="白羊座">白羊座</option>
		<option value="金牛座">金牛座</option>
		<option value="双子座">双子座</option>
		<option value="巨蟹座">巨蟹座</option>
		<option value="狮子座">狮子座</option>
		<option value="处女座">处女座</option>
		<option value="天秤座">天秤座</option>
		<option value="天蝎座">天蝎座</option>
		<option value="射手座">射手座</option>
		<option value="摩羯座">摩羯座</option>
		<option value="水瓶座">水瓶座</option>
		<option value="双鱼座">双鱼座</option>
	</select>
</div>

<div class="mb10">
	<label>性别:</label>
	<label style="width: 50px;font-weight:normal;font-size:1em;">
		<input type="radio" ng-model="UserDetail.sex" value="M" name="sex">男
	</label>
	<label style="width: 50px;font-weight:normal;font-size:1em;">
		<input type="radio" ng-model="UserDetail.sex" value="F" name="sex">女
	</label>
</div>

<div class="mb10">
	<label>用户类型:</label>
	<span class="font1">&nbsp;&nbsp;&nbsp;{{UserDetail.is_editer | is_editer_deal}}</span>
</div>
<div class="mb10">
	<label>tel:</label>
	<input type="text" maxlength="11"  placeholder="请输入电话" ng-model="UserDetail.phone" class="form-control w150">
</div>

<div class="mb10">
	<label>地域:</label>
	<span ng-if="!areaChange" class="form-control inline-block mr5">
		{{UserDetail.province | nothing}} &nbsp;&nbsp; {{UserDetail.city}} &nbsp;&nbsp; {{UserDetail.street}}
	</span>
	<button class="btn btn-success" ng-click="areaChangeFn()" ng-if="!areaChange">
		修改
	</button>

	<div class="inline-block" ng-if="areaChange">
		<select class="form-control w150 inline-block mr5" ng-options="item as item.divisionName for item in areaone" ng-model="choiceArea.one" ng-change="changeArea(1)">
			<option value="">一级地域</option>	
		</select>

		<select class="form-control w150 inline-block mr5" ng-options="item as item.divisionName for item in areatwo" ng-model="choiceArea.two" ng-change="changeArea(2)">
			<option value="">二级地域</option>	
		</select>

		<select class="form-control w150 inline-block mr5" ng-options="item as item.divisionName for item in areathree" ng-model="choiceArea.three" ng-change="changeArea(3)">
			<option value="">三级地域</option>	
		</select>
	</div>			
</div>

<div class="oh">	
	<button type="submit" class="mr10 pull-right btn btn-primary btn-lg" ng-click="save()">保存</button>
</div>