<nav class="text-right">
	<ul class="pagination">
		<li ng-click="prev()">
			<span aria-label="Previous">
				<span aria-hidden="true">«</span>
			</span>
		</li>

		<li class="active">
			<span>{{nowpage}}</span>
		</li>

		<li ng-click="next()">
			<span aria-label="Next">
				<span aria-hidden="true">»</span>
			</span>
		</li>
		<li>
			&nbsp;&nbsp;
			总共 {{pages}} 页
			<form class="inline-block" ng-submit="pageGo()">
				<input ng-model="pageNumber" type="text" class="form-control inline-block w60" placeholder="页码">
				<button class="btn btn-default">
					<strong>GO</strong>
				</button>
			</form>									
		</li>
	</ul>
</nav>