<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="login_content">
		<form method="POST" id="form-login" role="form"  action="/auth/login">
			<div class="form-group">
				<input type="email" name="email" class="form-control" placeholder="请输入用户名"required="" value="" id="username">
			</div>
			<div class="form-group">
				<input type="password"  name="password" class="form-control" placeholder="请输入密码 "required="" id="password">
			</div>
			<button type="button" id="loginButton" class="login_btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
		</form>	
	</div>
</body>
</html>